**/originalDataset
**/preprocessedData
*/submissionResults
*/src/main/resources
/SparrowRecSys/**/target
/SparrowRecSys/**/resources
!/SparrowRecSys/NewCode/JavaPart/src/main/resources
/wasted/*
/_ref